<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
  rel="stylesheet">

<body>
  <div class="full-body-container">
    <div class="hero-container">
      <div class="top-text">
        <div class="title-description">
          <div class="stack" style="--stacks: 3;">
            <span style="--index: 0;">WorkWiz</span>
            <span style="--index: 1;">WorkWiz</span>
            <span style="--index: 2;">WorkWiz</span>
          </div>
          <div class="stack" style="--stacks: 3;">
            <span style="--index: 0;">Find Your Future</span>
            <span style="--index: 1;">Find Your Future</span>
            <span style="--index: 2;">Find Your Future</span>
          </div>
        </div>
        <label class="input-container closed " onclick="sendFocus()">
          <div class="shadow"></div>
          <div class="search">
            <input id="filter-text-val" type="text" class="input" placeholder="Enter a job description"
              onkeyup="filterText()">
          </div>
          <div class="sticks"></div>
        </label>
      </div>
      <div class="ball">
        <span style="--color: #ffffff; --i:18px; --d:2.5s;"></span>
        <span style="--color: #03a1d9; --i:13px; --d:5s;"></span>
        <span style="--color: #0044ff; --i:15px; --d:7.5s;"></span>
        <span style="--color: #000000; --i:20px; --d:10s;"></span>
      </div>
    </div>
    <div class="spacer">

    </div>
    <div class="answer-stack">
      <div id="answer-box"></div>
    </div>
  </div>


  <script>

    function answerBoxTemplate(title, titleDesc, rating, list, similarity, avg_price, currency, usd_val) {
      let tags = list.map(tag => `<span class='tag'>${tag}</span>`).join('');
      let currencyBox;
      if (currency == 'USD') {
        currencyBox = `
          <div class="priceTag">
            <span>${currency}</span>${avg_price}
          </div>
        `;
      } else {
        currencyBox = `
          <div class="currency-box">
            <div class="priceTag">
              <span>${currency}</span>${avg_price}
            </div>
            <div> Or </div>
            <div class="priceTag">
              <span>USD</span>${usd_val}
            </div>
          </div>
        `;
      }
      return `            <div class="wrapper">

  
<div class="overviewInfo">
  <div class="actions">
    <div class="backbutton ">
 <svg
width="24"
height="24"
viewBox="0 0 24 24"
fill="none"
xmlns="http://www.w3.org/2000/svg"
>
<path
  d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z"
  fill="currentColor"
/>
</svg>
    </div>

  </div>
  
  <div class="productinfo">
    <div class="grouptext">
       <h3>SIMILARITY</h3>
       <p>${similarity}</p>
    </div>
    <div class="grouptext">
       <h3>RATING</h3>
       <p>${rating}</p>
    </div>
    <div class="grouptext">
       <h3>PRICE</h3>
       <p>${avg_price} ${currency}</p>
    </div>
    
    
    <div class="productImage">
      <img class="product-image" src="../static/images/logo.jpg" alt="This is the job Logo">
    </div>
    
</div>
   
</div> 
<!-- overview info -->

<div class="productSpecifications">
  <h1> ${title} </h1>
  <p> ${titleDesc} </p>
  
  <div class="productFeatures">
    <div class="feature">
      <div class="featureIcon">
      </div>
      <div class="featureText">
        <p> <strong>Skills</strong></p>
        <p>${tags}</p>
      </div>
    </div>
    
  </div>
  
  <div class="checkoutButton">
    ${currencyBox}
    
    <button class="preorder">
      <p>Apply</p>
      <div class="buttonaction">
       <svg
width="24"
height="24"
viewBox="0 0 24 24"
fill="none"
xmlns="http://www.w3.org/2000/svg"
>
<path
  d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
  fill="currentColor"
/>
</svg>
      </div>
    </button> 
  </div>
</div>
<!-- product specificaiton -->

</div>`
    }

    function sendFocus() {
      document.getElementById('filter-text-val').focus()
    }

    function filterText() {
      document.getElementById("answer-box").innerHTML = ""
      console.log(document.getElementById("filter-text-val").value)
      fetch("/jobs?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
        .then((response) => response.json())
        .then((data) => data.forEach(row => {
          console.log(data)
          let tempDiv = document.createElement("div")
          tempDiv.innerHTML = answerBoxTemplate(row.job_title, row.job_description, row.client_average_rating, row.tags, (row.cosine_similarity / 1 * 100).toFixed(2), row.avg_price, row.currency, (row.usd_val).toFixed(2))
          document.getElementById("answer-box").appendChild(tempDiv)
        }));

    }

    document.querySelector('.sticks').addEventListener('click', () => {
      document.getElementById('filter-text-val').value = '';
      document.getElementById("answer-box").innerHTML = "";
    });

  </script>
</body>