<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1 id="google-0-2">Work Wiz</h1>
            </div>
            <div class="title-description">Find Freelance jobs and Instantly discover the necessary skills required</div>
            <label class="input-container closed " onclick="sendFocus()">
                <div class="shadow"></div>
                <div class="center">
                    <input id="filter-text-val" type="text" class="input" placeholder="Enter a job description" onkeyup="filterText()">
                </div>
                <div class="sticks"></div>
            </label>
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        function answerBoxTemplate(title,titleDesc,rating, list, similarity, avg_price, currency){
            let tags = list.map(tag => `<span class='tag'>${tag}</span>`).join('');
            return `<div class='result-box'>
                <h3 class='job-title'>Job Title: ${title}</h3>
                <p class='job-desc'>Description: ${titleDesc}</p>
                <p class='client-average-rating'>Client Average Rating: ${rating}</p>
                <p class='avg-price'>Average Price: ${avg_price} ${currency}</p>
                <p class='similarity'>Similarity: ${similarity} %</p>
                <div class='tags'>Skills:  ${tags}</div>
            </div>`
        }

        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/jobs?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
         
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.job_title,row.job_description,row.client_average_rating, row.tags, (row.cosine_similarity / 1 * 100).toFixed(2), row.avg_price, row.currency)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }

        document.querySelector('.sticks').addEventListener('click', () => {
            document.getElementById('filter-text-val').value = '';
            document.getElementById("answer-box").innerHTML = "";
        });
            
    </script>
</body>